/* color pallete on http://es-es.colourlovers.com/palette/1194852/Passion_fruit_colors
  dark red: 5C0000
  red:      8F0000
  pink:     F7EBEB
  yellow:   DDBB00
  brown:    BF9600
*/

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6,a,a:hover {  color: #8F0000; }

body { background-color: #DDBB00; }

.container {
  border: 4px solid #5C0000;
  position: relative;
  background: white url(../images/background.png) repeat-y left;
  margin-top: 3em;
  margin-bottom: 3em;
  border-top-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
}

#sidebar div {
  position: relative;
  padding: 5px;
  color: #DDBB00;
}

#sidebar a { color: white; }

#sidebar h1, #sidebar h2, #sidebar h3 { color: #DDBB00; }

#sidebar h1 { margin: 0 auto; }

#sidebar h2 {
  font-size: 1.5em;
  margin: 0 8px;
}

#sidebar h3{
  font-size: 1.1em;
  margin: 5px 0;
}

#sidebar h1 { width: 4.5em; }

#sidebar h1 a:hover { text-decoration: none; }

#sidebar h1 span {
  display: block;
  margin-left: 2px;
  font-size: 0.3em;
}

#sidebar h1 span a:hover{ text-decoration: underline; }

#sidebar ul{
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 2em;
}

#sidebar ul li{
  margin: 3px 0;
}

#sidebar ul li a{
  padding: 2px;
}

#sidebar ul li.current {
  list-style-image: url(../images/current-bullet.png)
}

#sidebar ul li.current a, #sidebar ul li a:hover {
  font-weight: bold;
  color: #8F0000;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#sidebar ul li ul li {
  list-style-image: url(../images/bullet.png);
  margin: 0;
}

#sidebar ul li.current ul a {
  font-weight: normal;
  color: white;
  background-color: transparent;
}

#fork-me {
  font-size: 8.5px;
  font-weight: bold;
  width: 56px;
  height: 56px;
  display: block;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #8F0000;
  color: white;
}

#fork-me:hover{
  width: 50px;
  height: 50px;
  border: 3px solid #5C0000;
  border-color: #8F0000;
  background-color: #F7EBEB;
  color: #8F0000;
  text-decoration: none;
}

#fork-me span{
  font-weight: bold;
  display: block;
  margin: 14px 6px;
  text-align: center;
  transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
}

#fork-me:hover span{
  margin: 12px 3px;
}

#main h2, #content {
  padding: 8px;
}

pre { margin: 0; }

.highlight, code {
  background-color: #F7EBEB;
}

.highlight {
  margin: 0 0 1.5em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.highlight .lineno {
  color: #999988;
}

.tutorial_links {
  margin: 20px 0;
}

.tutorial_links a{
  font-size: 0.8em;
  background-color: #8F0000;
  padding: 7px;
  color: white;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
}

.tutorial_links a:hover{
  text-decoration: none;
  padding: 5px;
  border: 2px solid #8F0000;
  background-color: #F7EBEB;
  color: #8F0000;
}

.previous_section { text-align: left; }
.next_section { text-align: right; }
