<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title> {{ site.title }} - {{ page.title }} </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ site.root_path }}/images/p.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.root_path }}/images/p.ico" />

    <link href="{{ site.github_url }}/commits/master.atom" rel="alternate" title="PÄSSION Commits" type="application/atom+xml" />

    <link rel="stylesheet" href="{{ site.root_path }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ site.root_path }}/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="{{ site.root_path }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.root_path }}/css/style.css">

  </head>

  <body>
    <div id="container" class="container">
      <a href="{{ site.github_url }}" id="fork-me" title="Fork me on GitHub"><span>Fork me on GitHub</span></a>
      <div id="sidebar" class="span-5">
        <div>
          <h1> <a href="{{ site.url }}">{{ site.title }}</a> <span class='small'> by <a href="{{ site.author_url }}">{{ site.author }}</a></span></h1>
          <ul>
          {% for category in site.categories %}
            <li>{{ category[0] | capitalize }}</li>
            <ul>
            {% for p in category[1] %}
              {% if p.url == page.url %}
                <li class='current'><a href="{{ site.root_path }}{{ p.url }}">{{ p.title }}</a></li>
              {% else %}
                <li><a href="{{ site.root_path }}{{ p.url }}">{{ p.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endfor %}
          </ul>
        </div>
      </div>
      
