      <div id="sidebar" class="span-5">
        <div>
          <h1> <a href="{{ site.root_path }}/">{{ site.title }}</a> <span class='small'> by <a href="{{ site.author.url }}">{{ site.author.name }}</a></span></h1>
          <ul>
          {% for menu in site.sitemap %}
            {% for menu_entry in menu %}
              {% assign menu_class = nil %}
              {% assign show_submenu = false %}
              {% if page.dir == menu_entry[0] %}
                {% assign show_submenu = true %}
                {% unless page.permalink %} {% assign menu_class = "current" %} {% endunless %}
              {% endif %}

              <li class="{{ menu_class }}">
                <a href="{{ site.root_path }}/{{ menu_entry[0] }}">{{ menu_entry[0] }}</a>
                {% if show_submenu %}
                  <ul>
                    {% for link in menu_entry[1] %}
                      {% capture link_text %}{{ link | first | first }}{% endcapture %}
                      {% capture link_id %}{{ link | first | last }}{% endcapture %}
                      {% assign item_class = nil %}
                      {% if link_id == page.permalink %}{% assign item_class = "current" %}{% endif %}
                      <li class="{{ item_class }}">
                        <a href="{{ site.root_path }}/{{ menu_entry[0] }}/{{ link_id }}">{{ link_text }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
