      <div id="sidebar" class="span-5">
        <div>
          <h1> <a href="{{ site.root_path }}/">{{ site.title }}</a> <span class='small'> by <a href="{{ site.author.url }}">{{ site.author.name }}</a></span></h1>
          <h2>Tutorials</h2>
          <ul>
          {% for tutorial in site.tutorials %}
            
            {% assign css_class = nil %}
            {% if page.last_dir == tutorial.dir %}
              {% if page.index? %}
                {% assign css_class = 'current' %}
              {% endif %}
            {% endif %}
            
            <li class="{{css_class}}">
              <h3><a href="{{ site.root_path }}/tutorials/{{ tutorial.dir }}">
                {{ tutorial.title }}
              </a></h3>
              {% if page.last_dir == tutorial.dir %}
                <ul>
                {% for section in tutorial.sections %}
                  {% capture section_title %}{{ section | first | first }}{% endcapture %}
                  {% capture section_permalink %}{{ section | first | last }}{% endcapture %}
                  {% assign css_class = nil %}
                  {% if page.basename == section_permalink %}
                    {% assign css_class = 'current' %}
                  {% endif %}
                  <li class="{{css_class}}">
                    <a href="{{ site.root_path }}/tutorials/{{ tutorial.dir }}/{{ section_permalink }}.html">
                      {{ section_title }}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          
          <h2>API</h2>
          <ul>
          {% for package in site.packages %}
            {% assign css_class = nil %}
            {% if page.package == package.name %}
              {% if page.index? %}
                {% assign css_class = 'current' %}
              {% endif %}
            {% endif %}
          
            <li class="{{css_class}}">
              <h3><a href="{{ site.root_path }}/api/{{ package.name }}">
                {{ package.name }}
              </a></h3>
            <li>
          {% endfor %}
          </ul>
          
        </div>
      </div>
