{% include header.html %}
{% include sidebar.html %}

  <div id="content" class="span-19 last">
    <div>
      {% assign current_tutorial = nil %}
      {% for tutorial in site.tutorials %}
        {% if tutorial.permalink == page.tutorial %}
          {% assign current_tutorial = tutorial %}
        {% endif %}
      {% endfor %}
      
      {% if current_tutorial %}
        <h2> {{ current_tutorial.title }} </h2>
        {{ content }}
        
        <h3>Index</h3>
        <ul>
        {% for section in current_tutorial.sections %}
          <li><a href="{{ section | first | last }}">{{ section | first | first }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      
    </div>
  </div>

{% include footer.html %}
